{% extends 'base.html.twig' %}
{% block header %}

    <div id="header">
        <div class="container">
            <div class="pull-left">
                <!-- Logo -->
                <div class="header-logo">
                    <a class="logo" href="#">
                     {#<img src={{asset('fixit/img/s.png')}} >#}
                    </a>
                </div>

            </div>
            <div class="pull-right">
                <a href="/fixit2/web/app_dev.php/logout"><button type="button" class="btn btn-primary">Logout</button></a>
            </div>
        </div>

        <!-- header -->
    </div>
    <!-- container -->
{% endblock %}
{% block body %}
    <div id="navigation">
        <!-- container -->
        <div class="container">
            <div id="responsive-nav">
                <!-- category nav -->
                <div class="category-nav show-on-click">
                    <span class="category-header">Menu <i class="fa fa-list"></i></span>
                    <ul class="category-list">
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Ask for a service<i class="fa fa-angle-right"></i></a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Option</h3></li>
                                            <li><a href="{{path('client_addAskService')}}">Add a request</a></li>
                                            <li><a href="{{path('client_displayservice')}}">My request</a></li>
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>

                                </div>
                                <div class="row hidden-sm hidden-xs">
                                    <div class="col-md-12">
                                        <hr>
                                        <a class="banner banner-1" href="#">
                                            <img src={{asset('fixit/img/banner05.jpg')}} alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Ads<i class="fa fa-angle-right"></i></a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Option</h3></li>
                                            <li><a href="{{path('client_displayad')}}">show Ads</a></li>
                                            <li><a href="{{path('client_showMyFavAds')}}">My Favorites Ads</a></li>
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>

                                </div>
                                <div class="row hidden-sm hidden-xs">
                                    <div class="col-md-12">
                                        <hr>
                                        <a class="banner banner-1" href="#">
                                            <img src={{asset('fixit/img/banner05.jpg')}} alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">Forum</a></li>


                    </ul>
                </div>
                <!-- /category nav -->

                <!-- menu nav -->
                <div class="menu-nav">
                    <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                    <ul class="menu-list">
                        <li><a href="/fixit2/web/app_dev.php/client/">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact us</a></li>

                    </ul>
                </div>
                <!-- menu nav -->

            </div>
        </div>
        <!-- /container -->
        {#    </div>#}
        {#    <!-- /NAVIGATION -->#}
    </div>

    <!-- HOME -->
    <div id="home">
        <!-- container -->
      <div class="container" >
     <!-- home wrap -->
     <!-- Ad Single -->
    <div id="store">
    <div class="row">
     {% for i in ads %}
     <div class="col-md-4 col-sm-6 col-xs-6">
         <div class="product product-single" >
             <div class="product-thumb" >
                 <div class="product-label">
                     <span>Published at</span>
                     <span class="sale">{{ i.getPublishedAt() | date }}</span>
                 </div>
                 <a href="{{ path('client_moredetails',{'ad_id':i.getAdId()}) }}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> More details</button></a>
                 <img src="{{ asset('/fixit2/public/uploads/')~i.image}}" height="286.125" width="286.125">
             </div>
             <div class="product-body">
                 <h2 class="product-name"><a href="{{ path('client_moredetails',{'ad_id':i.getAdId()}) }}">{{ i.name }}</a></h2>
                 <div class="product-btns">
                 <a href="{{ path('client_addFav',{'id':i.getAdId()}) }}"><button class="primary-btn add-to-cart" onclick="return alert('this Ad has been add to your favorit list !!')"><i class="fa fa-shopping-cart"></i> Add to My Favorites</button></a>

                 </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /Ad Single -->
            <!-- /home wrap -->
     </div>
        <hr>
        <div class="navigation">
            {{ knp_pagination_render(ads) }}
        </div>
    </div>
   <!-- /container -->

</div>
    <!-- /HOME -->
{% endblock %}