{% extends 'base1.html.twig' %}
{% block body %}
    <body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Dashboard admin</a>
            </div>
            <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Last access : 30 May 2014 &nbsp; <a href="/fixit2/web/app_dev.php/logout" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img src="{{asset('assets/img/find_user.png')}}" class="user-image img-responsive"/>
                    </li>

                    <li>
                        <a href="{{ path('admin_showad') }}"><i class="fa fa-sitemap fa-3x"></i>Ads<span class="fa arrow"></span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
        {% block content %}
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Ads</h2>
                        <h5>Welcome Admin , Love to see you back, here you can check all Ads !! </h5>
                        <hr />
                    </div>
                </div>
                <!-- /. ROW  -->
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                All Ads
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Availability</th>
                                            <th>Description</th>
                                            <th>Published_at</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in ads %}
                                        <tr class="odd gradeX">
                                            <td>{{ i.name }}</td>
                                            <td>{{ i.availability | date('y/m/d') }}</td>
                                            <td>{{ i.description }}</td>
                                            <td>{{ i.getPublishedAt() | date }}</td>
                                            <td><a href="{{ path('admin_deletead',{'ad_id':i.getAdid()})}}"><button class="btn btn-danger btn-lg  " > <span class="glyphicon glyphicon-trash" ></span> >delete</button></a></td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endblock %}
                </div>
                <hr />
            </div>
        </div>
    </div>
</body>
{% endblock %}